h1 {
  text-align: center;
  padding: 30px;
  background: radial-gradient(darkred, tomato, yellow);
  color: white;
  font-size: 3em;
}
label {
  font-size: 1.3em;
  display: inline-block;
  width: 105px;
}
form {
  margin-bottom: 30px;
}
input {
  margin-right: 20px;
  font-size: 1.3em;
}
.pretty-form {
  display: block;
  margin-top: 10px;
}
form button {
  width: 150px;
  background-color: lightgray;
  margin-top: 10px;
  font-size: 1.2em;
  width: 250px;
}
h2 {
  text-decoration: underline;
}
section ul {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
section {
  width: 1000px;
  background-image: url(Background2.png);
}
.list-heading {
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}
h3 {
  display: inline-block;
  font-size: 1.5em;
  margin: 50px 150px 0 0;
}
#going-broke {
  font-weight: bold;
  color: red;
  text-decoration: underline;
  font-size: 3em;
}
#idNumber li, #salary li {
  text-align: right;
}
button#delete {
  background-color: red;
  font-weight: bold;
  display: block;
  height:25px;
}
li {
  line-height: 25px;
}
ul {
  margin: 0 auto;
}
